<header>
  {{> me-header}}
</header>


<a href="/file/list-name.xlsx" id="my-table-id" style="">Tải file excel để nhập danh sách khách mời ở đây</a>

<div class="mt-4 container">
    <div class="row">

        {{#each cards}}
        <div class="col-sm-6">
            <div class="card invitation-card-item">
                <a href="/cards/{{this._id}}">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                </a>
                <div class="card-body">
                    <a href="/cards/{{this._id}}">
                        <h5 class="card-title">{{this.title}}</h5>
                    </a>
                    <p class="card-text">{{this.cardName}}</p>
                    <a href="/cards/{{this._id}}" class="btn btn-primary">Sử dụng</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>